*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.container {
  margin: 0 auto;
  width: 95%;
}

/*******************
  BASE FONT STYLES
*******************/

body {
   font-family: 'Poiret One', cursive;
   font-size: 1rem;
}

h2 {
  font-size: 1rem;
}

ul li ,
p,
.learnmore {
  font-size: 1rem;
}

ul li {
  border: none;
}

li {
  margin: 0;
  padding: 0;
}

.info {
  margin: 0;
}


/**************************
CAROUSEL
**************************/

.wrapper {
  display: flex;
  width: 400px;
  height: 400px;
  margin: 10vh auto;
  perspective: 1000px;
}

.carousel {
  align-content: center;
  height: 100%;
  width: 100%;
  top: 10%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.block {
  overflow-y: auto;
  display: block;
  position: absolute;
  top: 1%;
  background: #000;
  width: 400px;
  height: 400px;
  line-height: 1em;
  font-size: 2rem;
  text-align: center;
  color: black;
  border-radius: .8em;
  background: white;
  border: .1em solid black;
}

.photo {
  margin-top: 2%;
  padding: 5%;
}
.info {
  padding-left: 0;
}

.kuti {
  transform: rotateY(0deg) translateZ(250px);
}
.makeba {
  transform: rotateY(90deg) translateZ(250px);
}
.dbanj {
  transform: rotateY(180deg) translateZ(250px);
}
.kidjo {
  transform: rotateY(270deg) translateZ(250px);
}

.next, 
.prev {
  color: black;
  position: relative;
  cursor: pointer;
  background: white;
  border-radius: .5em;
  border: .2em solid black;
  width: 6rem;
  height: 2rem;
  margin: 10vh 0;
  font-size: 1.5rem;

}

.next { 
  right: 5em; 
}
.prev { 
  left: 5em; 

}

.buttons {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}



